/* index.html */

.menu {
    width: 300px;

}


/* Beholder */
.beholder_img {
    width: 300px;

}

/* Dragon */

.dragon_img {
    width: 300px;

}


/* Tarrasque */

.tarrasque_img {
    width: 300px;

}

